git+git://github.com/django/django.git
distribute==0.6.34
dj-database-url==0.2.2
django-toolbelt==0.0.1
gunicorn==18.0
psycopg2==2.5.2
wsgiref==0.1.2
djangorestframework==2.3.10
boto==2.23.0
django-storages==1.1.8
